<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamaraj College of Engineering and Technology</title>
    <style>
        /* Center align the content */
        .center {
            text-align: center;
            margin: 20px; /* Optional: Add some margin for spacing */
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Kamaraj College of Engineering and Technology</h1>
        <h2>Web Applications using Django Framework</h2>
        <h3>Chellapandi TR</h3> 
        <h3>22UIT072</h3>
        <h1>Mail Successfully Sent</h1>
    </div>
</body>
</html>

